<h2><%= currentUser.firstname %>'s Recipes</h2>

<% recipes.forEach(r => { %> 
  <div>
    <h4><%= r.name %></h4>
    <% const parsedIngredients = JSON.parse(r.ingredients) %> 
    <h5>Malts</h5>
    <% parsedIngredients.malts.forEach( m => { %>
      <div>
        <p>Malt: <%= m.maltName %> <%= m.maltQty %> <%= m.maltUnit %>  </p>
      </div>
    <% }) %> 
    <h5>Hops</h5>
    <% parsedIngredients.hops.forEach( h => { %>
      <div>
        <p>Hop: <%= h.hopName %> <%= h.hopQty %> <%= h.hopUnit %>  </p>
      </div>
    <% }) %> 
    <% if (parsedIngredients.adjuncts) { %> 
      <h5>Adjuncts</h5>
      <% parsedIngredients.adjuncts.forEach( a => { %>
        <div>
          <p>Adjunct: <%= a.adjunctName %> <%= a.adjunctQty %> oz </p>
        </div>
      <% }) %> 
    <% } %>
    <h5>Yeast</h5>
    <div>
      <p>Yeast: <%= parsedIngredients.yeast %></p>
    </div>
  </div>
  <a href="#">Start a new batch!</a>
<% }); %> 